div {
    position: relative;
    top: 200px;
  }
  
  table {
  
    color: rgb(56, 56, 56);
    font-family: Helvetica, Arial, sans-serif;
    width: 90%;
    /*top: 200px;*/
  }
  
  td,
  th {
  
    height: 30px;
    transition: all 0.3s;
  }
  
  th {
    background: rgb(240, 234, 234);
    font-weight: bold;
  }
  
  img {
    height: 50px;
    width: 50px;
  }
  
  .delete {
    border-radius: 20px;
    width: 70px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    background-color: red;
    cursor: pointer
  }
  
  .edit {
  
    border-radius: 20px;
    width: 70px;
    height: 30px;
    font-weight: bold;
    text-align: center;
    background-color: green;
    cursor: pointer
  }
  
  
  .addUser {
    position: relative;
    background-color: rgb(194, 191, 191);
    color: rgb(56, 56, 56);
    font-weight: bold;
    width: 400px;
    height: 40px;
    top: 50px;
    border-radius: 20px;
    text-align: center;
    left: calc(50% - 200px);
    cursor: pointer
  }
  